*{
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
    background-color: aqua;
    color: aliceblue;
    width: 100%;
    
    
}
section{
    margin: 0px 25%;
    border: 1px solid #f2f2f2;
    padding: 15px;
    background-color: bisque;

}
ul{
    padding:10px;
}
h2,h3,p {
    margin-bottom: 10px;

}
img{
    height: 300px;
    width: 280px;
}
